/* Google Font */

@import url('https://fonts.googleapis.com/css2?family=Jost:wght@400;500;600;700&family=Teko&display=swap');

/* Icon */

@import url('https://cdn.jsdelivr.net/npm/pixeden-stroke-7-icon@1.2.3/pe-icon-7-stroke/dist/pe-icon-7-stroke.min.css');

/* Reset */

@import url("../css/reset.css");

:root {
    --white-color: #FFFFFF;
    --primary-color: #E56035;
    --secondary-color: #499A9A;
    --block-color: #222;
    --p-color: #BABABA;
    --bg-color: #F3F3F3;
    --box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    --background-gradient: linear-gradient(189deg, rgba(2, 0, 36, 1) 0%, rgba(73, 154, 154, 1) 0%, rgba(229, 96, 53, 1) 100%);
}

body {
    background-color: #fff;
    font-family: 'Jost', sans-serif;
    font-size: 18px;
}

h1,
.h1 {}

h2,
.h2 {}

h3,
.h3 {}

p {
    line-height: 1.5;
}

.theme-btn {
    display: inline-block;
    font-weight: 600;
    color: var(--white-color);
    border-radius: 0;
    position: relative;
    box-shadow: none;
    outline: none;
    z-index: 2;
    font-size: 14px;
    letter-spacing: .28px;
    text-align: center;
    transition: all .2s linear;
    -webkit-transform: perspective(1px) translateZ(0);
    transform: perspective(1px) translateZ(0);
    display: inline-flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
    background: var(--primary-color);
}

.theme-btn:hover {
    background: var(--secondary-color);
    color: #fff !important;
}

.btn-md {
    font-size: 1rem;
    min-height: 50px;
    min-width: 160px;
    padding: 0 25px;
    grid-gap: 23px;
    gap: 23px;
    border: 0;
}

.readMore-btn {
    color: var(--primary-color);
    font-weight: 600;
}

a:hover {
    color: var(--secondary-color)
}

.primary-color {
    background-color: var(--primary-color);
}

.secondary-color {
    background-color: var(--secondary-color);
}

.protfolio-container {
    display: grid;
    grid-template-columns: 400px 1fr;
}

.section-title {}

.section-title span {
    font-size: 20px;
    font-weight: 600;
    color: var(--primary-color);
}

.section-title .h2 {
    font-weight: 700;
    font-size: 40px;
    padding-top: 10px;
}

.modal-content {
    border-radius: 0;
}

.phone-block {
    display: none;
}

@media (min-width: 320px) and (max-width: 991.98px) {
    .phone-block {
        display: block;
    }

    .desktop-block {
        display: none !important;
    }

    .protfolio-container {
        grid-template-columns: 1fr;
    }

    .section-title .h2 {
        font-weight: 600;
        font-size: 30px;
    }
}



/* Nav */

.navArea {
    /* position: absolute;
    width: 100%;
    top: 0; */
    z-index: 10;
    color: var(--block-color);
    padding: 12px 0;
    transition: all .3s linear;
}

.navArea ul li .nav-link {
    font-size: 16px;
    color: var(--block-color);
    font-weight: 500;
    text-transform: uppercase;
    padding: 1.4rem 1rem;
}

.navArea ul li .nav-link.active,
.navArea ul li .nav-link:hover {
    color: var(--primary-color);
}

.navArea .navbar-nav {
    gap: 10px;
}

.navArea.topnav {
    position: fixed;
    width: 100%;
    background: #fff;
    box-shadow: 0px 5px 5px 0px rgba(197, 197, 197, 0.75);
}


.nabLogo .fa-solid {
    color: var(--block-color);
    font-size: 25px;
}

.search-dropdown .searchIcon {
    border: 0;
    background: var(--primary-color);
    color: var(--white-color);
    width: 48px;
    height: 45px;
}

.searchBox {
    padding: 18px 20px;
    border-radius: 0;
    top: 130% !important;
}

.searchBox form {
    border: 1px solid var(--primary-color);
}

.searchBox .search-input {
    width: 250px;
    height: 45px;
    padding: 5px 13px;
    border: 0;
}

.searchBox .search-btn {
    background-color: var(--primary-color);
    border: 0;
    color: var(--white-color);
    padding: 7px 15px;
}

.bar-icons {
    background: var(--block-color);
    color: #fff !important;
    font-size: 22px;
    padding: 0px 13px;
    width: 45px;
    height: 45px;
    display: grid;
    align-items: center;
    justify-content: center;
}

/* Sidebar menu */

.navCatagories ul li a {
    color: var(--block-color);
    font-weight: 600;
    padding: 10px 0;
}

.navCatagories ul.submenu {
    padding: 0 14px;
}

.navCatagories ul.submenu li a {
    font-size: 14px;
    display: block;
    padding: 5px 0;
    font-weight: 500;
}

.navCatagories .has-submenu>a {
    border-bottom: 1px solid var(--primary-color);
    display: flex;
    gap: 10px;
}

.navCatagories .has-submenu>a i{
    margin-left: auto;
}

.navCatagories ul li:last-child a {
    border-bottom: 0;
}

.navCatagories ul li a:hover {
    color: var(--primary-color)
}

@media all and (min-width: 992px) {
    .navbar .dropdown-menu-end {
        right: 0;
        left: auto;
    }

    .navbar .nav-item .dropdown-menu {
        display: block;
        opacity: 0;
        visibility: hidden;
        transition: .3s;
        margin-top: 6px;
        border: 0;
        min-width: 240px;
        border-radius: 0;
        box-shadow: 0px 2px 5px -1px rgba(210, 210, 210, 0.72);
        border-top: 2px solid var(--primary-color);
    }

    .navbar .nav-item .dropdown-menu::before {
        content: '\f0de';
        font-family: "Font Awesome 6 Free";
        font-weight: 700;
        position: absolute;
        top: -15px;
        left: 50px;
        font-size: 22px;
        color: var(--primary-color);
    }

    .navbar .dropdown-menu.fade-down {
        top: 100%;
        transform: rotateX(-75deg);
        transform-origin: 0% 0%;
        padding: 0;
    }

    .navbar .dropdown-menu.fade-up {
        top: 180%;
    }

    .navbar .nav-item:hover .dropdown-menu {
        transition: .3s;
        opacity: 1;
        visibility: visible;
        top: 100%;
        transform: rotateX(0deg);

    }
}

.navbar .dropdown-item {
    font-size: 18px;
    padding: 8px 15px;
    position: relative;
    -webkit-transition: all 300ms ease;
    -o-transition: all 300ms ease;
    transition: all 300ms ease;
}

.navbar .dropdown-item:before {
    position: absolute;
    left: 0;
    top: 50%;
    height: 2px;
    width: 0px;
    content: "";
    transform: translateY(-50%);
    border-bottom: 2px solid var(--white-color);
    -webkit-transition: all 300ms ease;
    -o-transition: all 300ms ease;
    transition: all 300ms ease;
}

.navbar .dropdown-item:hover:before {
    width: 20px;
}



.navbar .dropdown-menu li:last-child .dropdown-item {
    border-bottom: 0;
}

.navbar .dropdown-item.active,
.navbar .dropdown-item:active,
.navbar .dropdown-item:focus,
.navbar .dropdown-item:hover {
    color: var(--white-color);
    background: var(--primary-color);
    padding-left: 25px;
}

.offcanvas-start .active {
    color: var(--primary-color);
}


@media (min-width: 320px) and (max-width: 991px) {
    .navArea ul li .nav-link {
        padding: 5px 1rem;
    }

    .nabRight {
        display: none !important;
    }
}

/* Megamenu */

.navbar .megamenu {
    padding: 1rem;
}

@media all and (min-width: 992px) {
    .navbar .has-megamenu {
        position: static !important;
    }

    .navbar .megamenu {
        left: 0;
        right: 0;
        width: 100%;
        margin-top: 0;
    }

}

@media(max-width: 991px) {

    .navbar.fixed-top .navbar-collapse,
    .navbar.sticky-top .navbar-collapse {
        overflow-y: auto;
        max-height: 90vh;
        margin-top: 10px;
    }
}

.product-all-menu {}

.product-all-menu .dropdown-menu::before {
    display: none;
}

@media (min-width: 992px) {

    .navbar .product-all-menu .megamenu {
        border: 0;
        top: 85% !important;
        padding: 30px 40px;
    }

    .navbar .product-all-menu .megamenu li a {
        color: var(--block-color);
    }

    .navbar .product-all-menu .megamenu li a:hover {
        color: var(--primary-color);
    }

    .product-all-menu .list-unstyled {
        display: grid;
        gap: 8px;
    }

}

.product-all-menu .title {
    color: var(--primary-color);
    border-bottom: 2px solid var(--primary-color);
    padding: 0 0 10px;
    margin-bottom: 15px;
}

/* Banner */

.bannerSlid .banner-img img {
    width: 100% !important;
}

.bannerSlid p {
    padding-top: 20px;
}

.bannerSlid .theme-btn {
    margin-top: 30px;
}

.BannerSlid {
    background: url(../img/banner-bg.png) no-repeat center;
    background-size: cover;
    height: 80vh;
    display: grid;
    align-items: center;
    justify-content: center;
}

.owl-item:nth-child(2n+1) .bannerRow .banner-img {
    order: 1;
}

.bannerRow {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 100px;
}

.banner-text {
    align-self: center;
}

.bannerSlid .owl-item.active .banner-img {
    animation: zoomIn ease 1s;
}

.bannerSlid .owl-item.active .sLogo {
    animation: fadeInDown ease 1.3s;
}

.bannerSlid .owl-item.active p {
    animation: fadeInDown ease 1.6s;
}

.bannerSlid .owl-item.active .theme-btn {
    animation: fadeInDown ease 1.9s;
}

.bannerSlid .owl-nav [class*=owl-] {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background: #000 !important;
    color: #fff !important;
    opacity: 0;
    transition: all .3s linear;
}

.bannerSlid:hover .owl-nav [class*=owl-] {
    opacity: 1;
}

.owl-carousel .owl-nav button.owl-next,
.owl-carousel .owl-nav button.owl-prev {
    padding: 8px 17px !important;
    transition: all .3s linear;
}

.bannerSlid .owl-nav .owl-next {
    right: 4%;
}

.bannerSlid .owl-nav .owl-prev {
    left: 4%;
}

.bannerSlid:hover .owl-nav .owl-next {
    right: 5%;
}

.bannerSlid:hover .owl-nav .owl-prev {
    left: 5%;
}

@media (min-width: 1025px) and (max-width: 1380px) {
    .bannerSlid .owl-nav .owl-next {
        right: 1%;
    }

    .bannerSlid .owl-nav .owl-prev {
        left: 1%;
    }

    .bannerSlid:hover .owl-nav .owl-next {
        right: 1%;
    }

    .bannerSlid:hover .owl-nav .owl-prev {
        left: 1%;
    }
}

@media (min-width: 670px) and (max-width: 1024px) {
    .bannerSlid .owl-nav [class*=owl-] {
        top: 100%;
        transform: translateY(-51px);
        opacity: 1;
        left: 13%;
    }

    .bannerSlid .owl-nav .owl-prev {
        left: 4% !important;
    }

}

@media (min-width: 320px) and (max-width: 991px) {
    .BannerSlid {
        padding: 60px 15px;
        height: auto;
    }

    .bannerRow {
        display: grid;
        grid-template-columns: 1fr;
        gap: 40px;
    }

    .bannerSlid .owl-nav [class*=owl-] {
        top: 100%;
        transform: translateY(-51px);
        opacity: 1;
        right: 13%;
    }

    .bannerSlid .owl-nav .owl-prev {
        left: 4% !important;
    }

    .bannerSlid .owl-nav .owl-next {
        right: 4% !important;
    }
}


/* Features */

.feature-section {}

.feature-two-content {
    padding-top: 30px;
}

.feature-two-content .readMore-btn {
    margin-top: 20px;
    display: inline-block;
}

.single-feature-item {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    margin-top: -100px;
    z-index: 1;
    position: relative;
}

.single-feature-list {
    background-color: var(--secondary-color);
    display: grid;
    grid-template-columns: 90px 1fr;
    align-items: center;
    justify-content: center;
    padding: 30px 30px 30px 5px;
}

.single-feature-list:last-child {
    background-color: var(--primary-color);
}

.feature-icon {
    display: grid;
    align-items: center;
    justify-content: center;
    font-size: 40px;
    color: #fff;
}

.feature-content {
    color: var(--white-color);
}

.feature-content .h4 {
    padding-bottom: 10px;
}

.feature-content p {
    font-size: 16px;
}

.feature-video-popup {
    position: relative;
}

.feature-video-popup img {
    width: 100%;
}

.videoBtn {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.videoBtn i {
    background-color: var(--primary-color);
    width: 60px;
    height: 60px;
    display: grid;
    align-items: center;
    justify-content: center;
    font-size: 26px;
    color: #FFF;
}

#faqV {
    display: grid;
    gap: 25px;
}

#faqV button {}

.faq-content {
    box-shadow: 1px 5px 15px 2px rgb(68 102 242 / 5%);
    display: grid;
    gap: 30px;
    padding: 47px 40px;
    background-color: #fff;
}

.faq-strength {
    display: flex;
    gap: 20px;
    align-items: flex-start;
}

.faq-strength img {}

.faq-strength-text {}

.faq-strength-text .h5 {}

.faq-strength-text p {}

#faqV .accordion-item {
    background-color: #fff;
    border: 0;
}

#faqV .accordion-item button {
    font-weight: 600;
    background-color: var(--primary-color);
    color: var(--white-color);
    border-radius: 0 !important;
}

#faqV .accordion-button:not(.collapsed) {
    background-color: var(--secondary-color);
    box-shadow: none;
    color: var(--white-color);
}

#faqV .accordion-collapse {
    background-color: rgba(73, 154, 154, 0.3);
}

#faqV .accordion-button::after {
    content: "\2b";
    font-family: "Font Awesome 6 Free";
    font-weight: 700;
    background: none;
}

#faqV .accordion-button:not(.collapsed)::after {
    content: "\f068";
    background: none;
    transform: rotate(0);
}

.industry-content {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
}

.industry-item {
    background: linear-gradient(to right, rgba(252, 252, 252, 1) 0%, rgba(244, 244, 244, 1) 100%);
    padding: 40px;
    transition: all .4s linear;
}

.industry-item:hover {
    background: var(--background-gradient);
    color: var(--white-color);
}

.industry-item:hover a {
    color: var(--white-color);
}

.industry-title {
    font-family: 'Teko', sans-serif;
    font-size: 30px;
    line-height: 1.3;
    position: relative;
    padding-left: 20px;
}

.industry-title::before {
    content: '';
    background-color: var(--primary-color);
    width: 5px;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
}

.industry-text {
    padding: 30px 0;
}

.industry-icon-box {
    display: flex;
}

.industry-icon-box .icon-box {
    width: 100px;
    height: 100px;
    background-color: #EFF3F6;
    display: grid;
    align-items: center;
    justify-content: center;
}

.industry-icon-box .icon-box img {
    width: auto;
    height: 60px;
}

.industry-icon-box .icon-text {
    color: var(--primary-color);
    align-self: center;
    margin-left: auto;
    font-size: 72px;
    font-family: 'Teko', sans-serif;
}

.industry-text .readMore-btn {
    margin-top: 18px;
    display: inline-block;
}

@media (min-width: 320px) and (max-width: 991px) {
    .single-feature-item {
        grid-template-columns: 1fr;
        margin-top: 30px;
    }

    .feature-section {
        padding-top: 50px;
    }

    .faq-content {

        padding: 30px 25px;
        margin-top: 30px;
    }
}


/* Call to Action */

.call-to-action-content {
    background-color: var(--block-color);
    color: var(--white-color);
}

.call-to-action-text {
    display: flex;
    padding: 30px;
    gap: 30px;
}

.call-to-action-text .h4 {
    align-self: center;
}

.call-to-action-text .theme-btn {
    margin-left: auto;
}

.call-to-action-number {
    background-color: var(--primary-color);
    margin-left: auto;
    display: grid;
    align-items: center;
    justify-content: center;
    width: 100%;
}


/* Energy Saving Valve */

.energy-saving-slid {}

.energy-item {
    background: linear-gradient(to right, rgba(252, 252, 252, 1) 0%, rgba(244, 244, 244, 1) 100%);
    padding: 20px;
    display: inline-block;
    width: 100%;
    text-align: center;
    height: 350px;
    display: grid;
    align-items: center;
    justify-content: center;
}

.energy-img {
    width: 180px;
    height: 180px;
    display: grid;
    align-items: center;
    justify-content: center;
    padding: 10px;
}

.energy-item:hover img {
    transform: scale(1.1);
}

.energy-item img {
    width: 100% !important;
    transition: all .3s linear;
}

.energy-item .h5 {
    color: var(--primary-color);
}

.energy-products-list {
    display: flex;
    gap: 25px;
    margin-bottom: 40px;
}

.energy-products-list .nav-link {
    border: 2px solid var(--primary-color);
    color: var(--primary-color);
    background: no-repeat;
    font-weight: 600;
    transition: all .2s;
}

.energy-products-list .nav-link:hover,
.energy-products-list .nav-link.active {
    background-color: var(--primary-color);
    color: var(--white-color);
}

.energy-saving-slid .owl-nav {
    position: absolute;
    margin: 0;
    right: 0;
    top: -2.4cm;
}

.energy-saving-slid .owl-nav [class*=owl-] {
    border: 2px solid var(--primary-color) !important;
    color: var(--primary-color) !important;
    border-radius: 0 !important;
}

.energy-saving-slid .owl-nav [class*=owl-] {
    border: 2px solid var(--primary-color) !important;
    color: var(--primary-color) !important;
    border-radius: 0 !important;
}

.energy-saving-slid .owl-nav [class*="owl-"]:hover {
    background: var(--primary-color);
    color: var(--white-color) !important;
}


@media (min-width: 320px) and (max-width: 991px) {
    .energy-products-list .nav-link {
        font-weight: 500;
        font-size: 13px;
        padding: 10px;
    }

    .energy-saving-slid .owl-nav {
        position: relative;
        top: 10px;
    }

    .energy-products-list {
        gap: 14px;
        margin-bottom: 40px;
        align-items: center;
        justify-content: center;
    }
}

/* Inner Banner */
.inner-banner-area {
    background: url(../img/inner-bg.jpg) no-repeat center;
    background-size: cover;
    height: 400px;
    display: grid;
    align-items: center;
    justify-content: center;
    text-align: center;
    position: relative;
    z-index: 1;
}

.inner-banner-area::before {
    content: '';
    position: absolute;
    left: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.6);
    z-index: -1;
}

.inner-banner-content {}

.inner-banner-content .h1 {
    color: var(--white-color);
}

.inner-banner-content ul {}

.inner-banner-content ul li {
    display: inline-block;
}

.inner-banner-content ul li:first-child:before {
    display: none;
}

.inner-banner-content ul li::before {
    content: '/';
    color: var(--white-color);
    padding: 0 15px 0 10px;
}

.inner-banner-content ul li a {
    color: var(--white-color);
}

.inner-banner-content ul li a.active {
    color: var(--primary-color)
}

@media (min-width: 670px) and (max-width: 1024px) {
    .inner-banner-area {
        height: 300px;
    }

    .download-Documents .theme-btn {
        min-width: auto;
        font-size: 15px;
        padding: 0 5px;
    }
}

@media (min-width: 320px) and (max-width: 991px) {
    .inner-banner-area {
        height: 280px;
    }

}

/* Products */
.product-content {
    display: grid;
    grid-template-columns: 30% 30% 1fr;
    gap: 25px;
}

.product-img {}

.product-img img {
    width: 100%;
}

.product-item {
    background-color: #eff3f6;
    padding: 30px;
}

.product-item:first-child .product-img {
    /* background-color: ; */
    padding: 30px;
    display: grid;
    align-items: center;
    justify-content: center;
    border: 1px solid #499a9a42;
}

.product-item:first-child {
    padding: 0;
    display: grid;
    background: none;
    grid-template-rows: 1fr;
    gap: 15px;
}

.download-Documents {
    margin-top: auto;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 10px;
}

.download-Documents .theme-btn {
    min-width: auto;
    padding: 0 20px;
}

.product-item:nth-child(2) {
    display: grid;

}

.products-content {}

.products-content .h4 {
    font-weight: 700;
    padding-bottom: 10px;
    color: var(--primary-color);
}

.products-content {}

.product-sp {
    display: grid;
    gap: 11px;
}

.product-sp li {
    /* display: flex; */
    gap: 37px;
    border-bottom: 1px solid #000;
    padding-bottom: 7px;
}

.product-sp li .h6 {
    color: var(--primary-color);
    font-weight: 700;
    position: relative;
}

.product-sp li .h6::after {
    content: '\f3bf';
    font-family: "Font Awesome 6 free";
    position: absolute;
    bottom: -27px;
    left: 0;
    transform: rotate(90deg);
}

.product-sp li p {
    font-size: 16px;
    margin-left: auto;
    padding-left: 25px;
}

#ProductTab {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    margin-top: auto;
    gap: 10px;
}

#ProductTab button {
    border: 0;
    background: #EFF3F6;
    border: 2px solid #EFF3F6;
    padding: 10px;
}

#ProductTab button.active {
    border: 0;
    border: 1px solid #499a9a42;

    /* background: var(--secondary-color) */
}

#ProductTab img {
    width: 100%;
}

.products-area #productsFaq {
    display: grid;
    gap: 15px;
}

.products-area .accordion-button {
    text-transform: capitalize;
    background-color: var(--primary-color);
    color: var(--white-color);
    border: 0;
    font-size: 20px;
    font-weight: 600;
}

.products-area .accordion-button:not(.collapsed) {
    color: var(--white-color);
    background-color: var(--primary-color);
    box-shadow: none;
}

.products-area .accordion-item {
    background-color: #fff;
    border: 1px solid var(--primary-color);
}

.products-area .accordion-button::after {
    content: "\2b";
    font-family: "Font Awesome 6 Free";
    font-weight: 700;
    background: none;
    margin-top: -7px;
}

.products-area .accordion-button:not(.collapsed)::after {
    content: "\f068";
    background: none;
    transform: rotate(0);
}

@media (min-width: 320px) and (max-width: 991px) {
    .product-content {
        grid-template-columns: 1fr;
        gap: 25px;
    }

    .products-area .accordion-button {
        font-size: 13px;
    }
}

/* cities */
.citie-section {}

.citie-item {
    position: relative;
    margin-top: 25px;
}

.citie-item img {
    width: 100%;
    height: 260px;
    object-fit: cover;
}

.citie-name {
    bottom: 5px;
    left: 7px;
    right: 7px;
    width: auto;
    min-height: 45px;
    font-size: 18px;
    line-height: 22px;
    transform: scale(1);
    color: #fff;
    background-color: rgba(229, 97, 53, 0.6);
    display: grid;
    align-items: center;
    justify-content: center;
    position: absolute;
    margin-bottom: 0;
    transition: all .3s linear;
}

.hover-citie {
    top: 50%;
    left: 50%;
    width: auto;
    font-size: 18px;
    line-height: 22px;
    transform: translate(-50%, -50%) scale(0);
    color: #fff;
    background-color: rgba(229, 97, 53, 0.6);
    display: grid;
    align-items: center;
    justify-content: center;
    position: absolute;
    margin-bottom: 0;
    height: 100%;
    width: 100%;
    transition: all .3s linear;
    text-align: center;
    padding: 10px;
}

.citie-item:hover .citie-name {
    transform: scale(0);
}

.citie-item:hover .hover-citie {
    transform: translate(-50%, -50%) scale(1);
}

.citie-item .h5 {
    font-size: 20px;
    font-weight: 600;
    text-transform: uppercase;
}

.hover-citie address {}

.citie-item.active .hover-citie {
    transform: translate(-50%, -50%) scale(1);
}

.citie-item.active address {
    font-size: 22px;
    text-transform: capitalize;
    line-height: 1.5;
}


/* Contact */
.contact-area {
    background: url(../img/contact-bg.jpg) no-repeat center;
    background-size: cover;
}

.form-content {
    display: grid;
    gap: 20px;
}

.form-content select {
    -webkit-appearance: none;
    -moz-appearance: none;
    background: transparent;
    background-image: url("data:image/svg+xml;utf8,<svg fill='black' height='24' viewBox='0 0 24 24' width='24' xmlns='http://www.w3.org/2000/svg'><path d='M7 10l5 5 5-5z'/><path d='M0 0h24v24H0z' fill='none'/></svg>");
    background-color: #fff;
    background-position-x: 98%;
    background-position-y: 12px;
    background-repeat: no-repeat;
    border-radius: 0;
}

.form-content select,
.form-content input,
.form-content textarea {
    width: 100%;
    border: 0;
    height: 50px;
    outline: none !important;
    padding: 0 15px;
    color: var(--block-color);
}

.form-content input::placeholder,
.form-content textarea::placeholder {
    color: var(--block-color);
}

.form-content input {}

.form-content textarea {
    height: 150px;
    padding: 15px;
}

.contact-info {}

.contact-info-content {
    background: url(../img/map-bg.png) no-repeat center;
    background-color: #00173c;
    padding: 40px;
    display: grid;
    gap: 35px;
}

.contact-info-content li {}

.contact-info-content li .h5 {
    color: var(--primary-color);
    position: relative;
    font-weight: 700;
    font-size: 20px;
}

.contact-info-content li .h5::after {
    content: '\f3bf';
    font-family: "Font Awesome 6 free";
    position: absolute;
    bottom: -33px;
    left: 0;
    transform: rotate(90deg);
}

.contact-info-content li p {
    color: var(--white-color);
    padding-left: 25px;
}

/* Modal Get A Quote */

@media (min-width: 576px) {
    .modal-dialog {
        max-width: 650px;
    }
}

.get-quot .form-content select,
.get-quot .form-content input,
.get-quot .form-content textarea {
    border: 1px solid #e7e7e7;
}


/* About */
.about-section-area {}

.about-content {}

.about-content ul {
    padding-top: 20px;
    display: grid;
    gap: 10px;
}

.about-content ul li {
    font-weight: 600;
    position: relative;
    display: flex;
    gap: 10px;
}

.about-content ul li::before {
    content: '----';
    color: var(--primary-color);
    width: 25px;
}

.about-content p {
    padding-top: 30px;
}

.about-content-img {}

.img-colarge2 {
    position: relative;
    height: 100%;

}

.colarge-2 {
    max-width: 370px;
    border: 8px solid var(--primary-color);
    box-shadow: 0px 0px 30px rgb(0 0 0 / 50%);
}

.about-content-img img {
    width: 100%;
}

.colarge-2-1 {
    position: absolute;
    left: 160px;
    bottom: 0px;
    max-width: 370px;
    z-index: -1;
}


.since-year2 {}

.since-year2 span {
    display: block;
    font-size: 50px;
    font-family: 'Teko', sans-serif;
    line-height: 1;
}

.since-year2 strong {
    display: block;
    font-size: 80px;
    font-family: 'Teko', sans-serif;
    line-height: 1;
    margin-top: -13px;
    color: var(--primary-color);
}

/*  */
.best-industry-services-area {}


.best-industry-content {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 25px;
}

.best-industry-services-area .industry-item {
    background: var(--white-color);
    border: 5px solid #F3F3F3;
    color: var(--block-color);
}

.best-industry-services-area .industry-item:hover {
    border-color: var(--primary-color);
}

.industry-item:hover a {
    color: var(--primary-color);
}


@media (min-width: 320px) and (max-width: 991px) {
    .best-industry-content {
        grid-template-columns: repeat(1, 1fr);
    }

    .about-content-img {
        padding-top: 50px;
    }
}


/* Counter */
.get-solution-area {}

.counter-content {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 40px;

}

.counter-item {
    text-align: center;
}

.counter-item .counter {
    color: var(--primary-color);
    font-family: 'Teko';
    font-weight: 600;
    font-size: 70px;
    line-height: 55px;
}

.counter-item .counter-value {
    letter-spacing: 3px;
}

.counter-item .counter-symbols {}

.counter-item .title {
    font-size: 22px;
    display: block;
    font-weight: 600;
}

@media (min-width: 320px) and (max-width: 991px) {
    .counter-content {
        grid-template-columns: repeat(2, 1fr);
        gap: 35px;
    }

    .counter-item .counter {
        font-size: 45px;
    }

    .counter-item .title {
        font-size: 15px;
    }
}

/*  */

.client-logo-area {
    background-color: #F3F3F3;
    padding: 80px 0;
}

.client-logo-item {}

.client-logo-item a {
    border: 2px solid var(--p-color);
    display: grid;
    align-items: center;
    justify-content: center;
    height: 150px;
}

/* Footer */

.footer-area {
    background-color: var(--block-color);
    padding: 100px 0;
}

.footer-content {
    display: grid;
    grid-template-columns: 33% 1fr 1fr 1fr;
    gap: 40px;
}

.footer-item {}

.footer-item li,
.footer-item li a {
    color: var(--white-color);
}

.footer-item:nth-child(1) {}

.footer-logo {}

.footer-logo img {}

.footer-item .title {
    text-transform: uppercase;
    color: var(--primary-color);
    padding-bottom: 30px;
}

.footer-item p {
    color: var(--white-color);
    padding-top: 20px;
}

.social {
    padding-top: 30px;
}

.social li {
    display: inline-block;
}

.social li a {
    width: 40px;
    height: 40px;
    display: grid;
    align-items: center;
    justify-content: center;
    font-size: 20px;
    color: var(--white-color);
    background-color: var(--primary-color);
    transition: all .2s linear;
}

.social li a:hover {
    background-color: var(--secondary-color);

}

.itemList {
    display: grid;
    gap: 10px;
}

.itemList li {}

.itemList li a {
    display: block;
    transition: all .3s;
}

.itemList li a:hover {
    color: var(--primary-color);
}

.information-list {
    display: grid;
    gap: 10px;
}

.information-list li {
    display: flex;
    gap: 10px;
    align-items: baseline;
}

.copy-right-area {
    background-color: #000;
    padding: 30px 0;
}

.copyright-content {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

.copyright p {
    color: var(--primary-color);
}

.footer-policy {
    margin-left: auto;
    display: inline-flex;
    gap: 30px;
}

.footer-policy li {
    display: inline-block;
}

.footer-policy li a {
    color: var(--primary-color);
}

@media (min-width: 320px) and (max-width: 991px) {
    .footer-content {
        grid-template-columns: 1fr;
    }

    .copyright-content {
        grid-template-columns: 1fr;
    }

    .footer-policy {
        margin-left: 0;
        gap: 14px;
        font-size: 14px;
        align-items: center;
        justify-content: center;
    }

    .copyright p {
        text-align: center;
        padding-bottom: 10px;
    }

    .contact-info {
        padding-top: 50px;
    }
}

/* Timeline */

.main-timeline {
    padding: 25px 0 1px;
}

.main-timeline:after {
    content: '';
    display: block;
    clear: both;
}

.main-timeline:before {
    content: '';
    border-left: 7px dotted var(--p-color);
    height: 100%;
    width: 7px;
    transform: translateX(-50%);
    position: absolute;
    left: 50%;
    top: 0;
    z-index: 1;
}

.main-timeline .timeline {
    margin: 0 0 30px 0;
}

.main-timeline .timeline-content {
    background: #fff;
    font-size: 0;
    text-align: center;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);

    position: relative;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 140px;
}

.main-timeline .timeline-content:hover {
    text-decoration: none;
}

.main-timeline .timeline-images {
    color: #fff;
    font-size: 30px;
    font-weight: 700;
    padding: 20px 20px;
    border-radius: 20px;

}

.timeline-images img {
    width: 100%;
    height: 250px;
    object-fit: cover;
}

.main-timeline .timeline-icon {
    color: #fff;
    background: #ff5a44;
    font-size: 22px;
    width: 100px;
    height: 60px;
    transform: translateX(-50%) translateY(-50%);
    position: absolute;
    left: 50%;
    top: 50%;
    z-index: 1;
    display: grid;
    align-items: center;
    justify-content: center;
}

.main-timeline .inner-content {
    padding: 20px;
    align-self: center;
    text-align: left;
}

.main-timeline .title {
    color: var(--block-color);
    font-size: 20px;
    font-weight: 700;
    text-transform: uppercase;
    margin: 0 0 5px;
}

.main-timeline .description {
    font-size: 16px;
    line-height: 22px;
    margin: 0;
}

.main-timeline .timeline:nth-child(even) .inner-content {
    text-align: right;
}

.main-timeline .timeline:nth-child(even) .timeline-images {
    order: 1;
}

.main-timeline .timeline:nth-child(2n+1) .timeline-icon {
    background-color: var(--primary-color);
}

.main-timeline .timeline:nth-child(2n+2) .timeline-icon {
    background-color: var(--secondary-color);
}

@media (min-width: 670px) and (max-width: 1024px) {
    .download-Documents .theme-btn {
        min-width: auto;
        font-size: 15px;
        padding: 0 5px;
    }
}

@media (min-width: 320px) and (max-width: 991px) {
    .call-to-action-text {
        text-align: center;
        display: grid;
        padding: 15px;
        gap: 20px;
    }

    .call-to-action-text .theme-btn {
        margin-left: 0;
    }

    .main-timeline .timeline-content {
        grid-template-columns: 1fr;
        gap: 0;
    }

    .main-timeline:before {
        display: none;
    }

    .main-timeline .timeline:nth-child(even) .timeline-images {
        order: 0;
    }

    .main-timeline .timeline:nth-child(even) .inner-content {
        text-align: left;
    }
}